<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.layout_module">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/dashboard"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon, label">


        <activity android:name=".OwnerDashboard"></activity>
        <activity android:name=".TenantDashboard"></activity>
        <activity android:name=".Actions"></activity>
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BillPayment"></activity>
        <activity android:name=".Register"></activity>
        <activity android:name=".RecentBills"></activity>
        <activity android:name=".AddBills"></activity>
        <activity android:name=".SearchHouse"></activity>
        <activity android:name=".AddBuildings"></activity>
        <activity android:name=".EditProfile"></activity>
        <activity android:name=".HouseDetails"></activity>
        <activity android:name=".SearchBuilding"></activity>
        <activity android:name=".SelectBuilding"></activity>
        <activity android:name=".AddTenant"></activity>
        <activity android:name=".TenantInfo"></activity>
        <activity android:name=".SelectHouse" />
        <activity android:name=".SummaryActivity"></activity>
    </application>

</manifest>